{% extends "layout.html" %}

{% block content %}

<div class="col-xs-6">
    {% from "_macros.html" import render_field %}
    <form action="" method="post" novalidate>
        {{form.csrf_token}}
        <input type = "hidden" name = "csrf_token" value="{{csrf_token()}}">
        {{render_field(form.matricula)}}
        {{render_field(form.nombre)}}
        {{render_field(form.apaterno)}}
        {{render_field(form.email)}}
        <input type="submit" value="Registrar">
    </form>
</div>
<div class="col-xs-6"></div>

{% endblock %}