<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <title>Document</title>

        <style>
            body{
                padding-top: 60px;
            }
            .tr-head{background: #dff0d8;}
        </style>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
    </head>
    <body>

        <div class="navbar navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="">
                        UTL-IDGS
                    </a>
                    <ul class="nav">
                        <li>
                            <a href="">
                                <i class="icon-home icon-white"></i>
                                Inicio
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {%with messages = get_flashed_messages()%}
                {%if messages%}
                    {%for message in messages%}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                    {%endfor%}
                {%endif%}
            {%endwith%}

            {% block content %}
        
            {% endblock %}

        </div>
        
    </body>
</html>